<div class="top-background-img-wrapper">
  <%= image_tag '/staticpage/top-background-inverse.jpg', class:"top-background-img" %>
  <div class="container top-container">
    <div class="top-copy">
      <p>副業のリアルを知る</p>
      <p>副業への第一歩を踏み出す</p>
    </div>
    <div class="top-signup">
      <p>実際に行っている人たちの声を集めました</p>
      <p>レビューを無制限に見るには...</p>
      <%= link_to new_user_registration_path, class:"" do %>
        <button type="button" class="btn btn-dark btn-signup">ユーザー登録する</button>
      <% end %>
    </div>
  </div>
</div>

<div class="suggestion-area area">
  <div class="container">
    <h3 class="area-title">Sidebizとは</h3>
    <p>副業に興味があるけど、何をはじめれば良いかわからないあなたへ</p>
    <p>「副業のリアル」をたくさん集めた、副業のレビューサイトです。</p>
    <%= link_to new_user_registration_path, class:"link-signup" do %>
      <button type="button" class="btn btn-dark btn-signup">ユーザー登録</button>
    <% end %>
  </div>
</div>

<div class="benefit-area area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="area-title">Sidebizで できること</h3>
      </div>
      <div class="col-lg-4 col-12">
        <div class="benefit-box"><i class="fas fa-check-circle"></i> 副業のリアルな声が聞ける</div>
        <div class="benefit-description">副業を行っている人たちから「リアルな声」をたくさん集めています。実際の業務の内容、稼働時間、平均月収から、求められるスキルまで。あなたにとって参考になる情報がきっと得られるはずです。</div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="benefit-box"><i class="fas fa-check-circle"></i> 本業を活かせる副業に出逢える</div>
        <div class="benefit-description">Sidebizのレビューには、副業で必要となるスキルを掲載しています。また、本業がどう活かされているか、という情報も書いていただいているため、あなたに合う副業を探すヒントになるでしょう。</div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="benefit-box"><i class="fas fa-check-circle"></i> 副業の先輩と繋がれる</div>
        <div class="benefit-description">もし興味のある副業が見つかり、もっと詳しく聞きたい場合は、レビューを書いている人に質問することもできます。もしかしたらそこから人脈の拡大につながるかもしれません。</div>
      </div>
    </div>
    <%= link_to new_user_registration_path, class:"link-signup" do %>
      <button type="button" class="btn btn-dark btn-signup">ユーザー登録</button>
    <% end %>
  </div>
</div>

<% if false %>
    <div class="customer-voice-area area">
      <div class="container">
        <h3 class="area-title">お客の声</h3>
          <p>名前、写真、年齢、居住地、印象的な言葉を見出しに</p>
        <%= link_to new_user_registration_path, class:"link-signup" do %>
          <button type="button" class="btn btn-dark btn-signup">登録する</button>
        <% end %>
      </div>
    </div>
<% end %>

<div class="tutorial-area area">
  <div class="container">
    <h3 class="area-title">Sidebizの使い方</h3> 
    <div class="row justify-content-center">
      <div class="media col-md-8 col-12">
        <div class="row use-step-row">
          <div class="col-2 use-step-icon-box">
            <%= image_tag '/staticpage/search_icon(no_commercial_license).png', class:"use-step-icon" %>
          </div>
          <div class="col-10">
            <div class="media-body use-step">
              <h5 class="mt-0">副業を名前で検索する</h5>
              気になる副業があれば、名前で検索してみましょう。
            </div><!-- /.media-body -->
          </div>
        </div>
      </div><!-- /.media -->
      <div class="media col-md-8 col-12">
        <div class="row use-step-row">
          <div class="col-2 use-step-icon-box">
            <%= image_tag '/staticpage/search_with_filster_img.png', class:"use-step-icon p-2" %>
          </div>
          <div class="col-10">
            <div class="media-body use-step">
              <h5 class="mt-0">副業を本業やスキルから検索する</h5>
              自分と同じ本業や、自分が持っているスキルから、副業を検索することも可能です。
            </div><!-- /.media-body -->
          </div>
        </div>
      </div><!-- /.media -->
      <div class="media col-md-8 col-12">
        <div class="row use-step-row">
          <div class="col-2 use-step-icon-box">
            <%= image_tag '/staticpage/stock_img.jpg', class:"use-step-icon" %>
          </div>
          <div class="col-10">
            <div class="media-body use-step">
              <h5 class="mt-0">気になった副業をストック</h5>
              気になる副業が見つかったら、どんどんストックしてすぐに参照できるようにしておきましょう。
            </div><!-- /.media-body -->
          </div>
        </div>
      </div><!-- /.media -->
      <div class="media col-md-8 col-12">
        <div class="row use-step-row">
          <div class="col-2 use-step-icon-box">
            <%= image_tag '/staticpage/ask_question_img.png', class:"use-step-icon p-2" %>
          </div>
          <div class="col-10">
            <div class="media-body use-step">
              <h5 class="mt-0">投稿者に直接質問してみる</h5>
              レビューに書いていないことを知りたい場合、投稿者に質問してみましょう。
            </div><!-- /.media-body -->
          </div>
        </div>
      </div><!-- /.media -->
    </div>
  </div>
</div>

<div class="registration-area area">
  <div class="container">
    <h3 class="area-title">早速使ってみよう</h3> 
    <div class="page-transition row">
      <div class="col-lg-3 offset-lg-3 col-12">
        <span class="user-attribute">アカウント未登録の方</span>
      </div>
      <div class="col-1"><i class="fas fa-long-arrow-alt-right fa-2x"></i></div>
      <div class="col-lg-4 col-5">
        <%= link_to new_user_registration_path, class:"" do %>
          <button type="button" class="btn btn-dark btn-signup">ユーザー登録</button>
        <% end %>
      </div>
    </div>
    <div class="page-transition row">
      <div class="col-lg-3 offset-lg-3 col-6">
        <span class="user-attribute">アカウントをお持ちの方</span>
      </div>
      <div class="col-1"><i class="fas fa-long-arrow-alt-right fa-2x"></i></div>
      <div class="col-lg-4 col-5">
        <%= link_to new_user_session_path, class:"" do %>
          <button type="button" class="btn btn-dark btn-signup">ログインする</button>
        <% end %>
      </div>
    </div>

    <%# <h3 class="area-title">差別化</h3> %>

  </div>
</div>
<hr>
<div class="job-index-area area">
  <h3 class="area-title">投稿一覧</h3> 
  <div class="job-index-explanation">
    <p>現在、ユーザー登録をしていない方にも、期間限定で投稿内容を公開しています。<br>検索を行いたい場合は、ページ最上部の「レビューを見る」へ。</p>

  </div>
</div>
<div class="container">

  <% if @jobs.present? %>
    <span><strong><%= @jobs.total_count %></strong> 件の投稿</span>
  <% else %>
    <span>投稿はまだありません。</span>
  <% end %>
  <%= render "shared/job_card", jobs: @jobs %>
</div>