<h1>Jobs#edit</h1>
<p>Find me in app/views/jobs/edit.html.erb</p>


<%= form_with(model: @job, local:true) do |f| %>
 <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="field-left"><%= f.label :name %></span>
    <span class="field-right"><%= f.text_field :name %></span>
  </div>

  <div class="field">
    <span class="field-left"><%= f.label :work_type %></span>
    <span class="field-right"><%= f.text_field :work_type, class:"input-form" %></span>
  </div>

  <div class="field">
    <span class="field-left"><%= f.label :company %></span>
    <span class="field-right"><%= f.text_field :company %></span>
  </div>

  <div class="field">
    <span class="field-left"><%= f.label :section %></span>
    <span class="field-right"><%= f.text_field :section %></span>
  </div>
  
  <div class="field">
    <span class="field-left"><%= f.label :industry %></span>
    <span class="field-right"><%= f.text_field :industry %></span>
  </div>

  <div class="field">
    <span class="field-left"><%= f.label :medium %></span>
    <span class="field-right"><%= f.text_field :medium %></span>
  </div>

  <div class="field">
    <span class="field-left"><%= f.label :occupation %></span>
    <span class="field-right"><%= f.text_field :occupation %></span>
  </div>

  <div class="field">
    <span class="field-left"><%= f.label :started_at %></span>
    <span class="field-right">
      <%= raw sprintf(f.date_select(:started_at,
                                    use_month_numbers: true,
                                    date_separator: '%s',
                                    start_year: 1930,
                                    end_year: Time.now.year,
                                    default: Date.new(2016, 1, 1),
                                    discard_day: true),
                      '年') + '月' %>
    </span>
  </div>

  <div class="field">
    <span class="field-left"><%= f.label :ended_at %></span>
    <span class="field-right">
      <%= raw sprintf(f.date_select(:ended_at,
                                    use_month_numbers: true,
                                    date_separator: '%s',
                                    start_year: 1930,
                                    end_year: Time.now.year,
                                    default: Date.new(2016, 1, 1),
                                    discard_day: true),
                      '年') + '月' %>
    </span>
  </div>

  <div class="field">
    <span class="field-left"><%= f.label '労働時間（週）' %></span>
    <span class="field-right"><%= f.select(:worktime_week, options_for_select([['〜5時間', 1],['5〜10時間', 2],['10〜15時間', 3],['15〜20時間', 4],['20〜25時間', 5],['それ以上', 6], ])) %></span>
  </div>

  <div class="field">
    <span class="field-left"><%= f.label '概要' %></span>
    <span class="field-right"><%= f.text_area :description %></span>
  </div>

  <div class="field">
    <span class="field-left"><%= f.label '本業から活用できたスキル' %></span>
    <span class="field-right"><%= f.text_area :pulled_skill %></span>
  </div>

  <div class="field">
    <span class="field-left"><%= f.label '本業に還元できたスキル' %></span>
    <span class="field-right"><%= f.text_area :returned_skill %></span>
  </div>

  <div class="field">
    <div>スキルの登録</div>
    <%= f.fields_for :skills do |skill_field| %>
      <div>
        <%= skill_field.label :name %>
        <%= skill_field.text_field :name %>
      </div>
      <div>
        <%= skill_field.label :importance_for_side_job %>
        <%= skill_field.number_field :importance_for_side_job %>
      </div>
      <div>
        <%= skill_field.label :importance_for_main_job %>
        <%= skill_field.number_field :importance_for_main_job %>
      </div>
    <% end %>
  </div>

  <%= f.hidden_field :is_main, :value => false %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit '登録する' %>

  <button type="button" class="btn btn-dark"><%= link_to '削除する', job_path, method: :delete %></button>
  


<% end %>


