<div class="search-box">
  <%= search_form_for @q do |f| %>
    <div class="row">
      <div class="col-2 form-field">
        <%= f.label :name_cont, "副業名", class: "label"   %><br>
        <%= f.search_field :name_cont, class: "input-form" %>
      </div>
      <div class="col-2 form-field">
        <%= f.label :user_username_cont, "ユーザー名", class: "label"   %><br>
        <%= f.search_field :user_username_cont, class: "input-form" %>
      </div>
      <div class="col-2 form-field">
        <%= f.label :skills_name_cont, "スキル名", class: "label"  %><br>
        <%= f.search_field :skills_name_cont, class: "input-form" %>
      </div>

      <div class="col-3 align-self-end submit-field">
        <%= f.submit "検索", class: "submit-form" %>
        <%= link_to request.path, class:"clear-btn-link" do %>
          <button type="button" class="btn btn-light clear-btn">クリア</button>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
<div class="page-title">
  <h2>投稿一覧</h2>
</div>

<% if @jobs.present? %>
  <span><strong><%= @jobs.count %></strong> 件の投稿が一致しました</span>
<% else %>
  <span>一致する検索結果はありませんでした</span>
<% end %>
<%= render "job_card", jobs: @jobs %>
