<div class="job-show-title-box">
  <span class="job-show-title"><%= @job.name %></span>
  <span> のレビュー </span><%= link_to "@#{@user.username}", user_path(@user) %>
</div>
<br>
<div class="card">
  <div class="card-body">
    <%= render "job_summary_box", job:@job %>
    <%= render "job_synergy", job:@job %>
    <%= render "job_summary_box", job:@main_job %>
    <hr>
    <span>スキルチャート</span>
    <div class="row justify-content-center">
      <div class="col-8 col-lg-5 job-right">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: <%= @labels.to_json.html_safe %>,
      datasets: [{
        label: '副業における重要度',
        backgroundColor: "rgba(0,0,80,0.4)",
        borderColor: "rgba(0,0,80,1)",
        data: <%= @importance_for_side_job %>
      }, {
        label: '本業における重要度',
        backgroundColor: "rgba(0,255,0,0.4)",
        borderColor: "rgba(0,255,0,1)",
        data: <%= @importance_for_main_job %>
      }
      ]},
    options: {
      scale: {
        angleLines: {
            display: true
        },
        ticks: {
            min: 0,
            max: 5,
            stepSize: 1
        }
      } 
    }
  });
</script>