<div class="container">
  <div class="page-title">
    <h2><%= @user.username %>のページ</h2>
  </div>

  <div class="row">
    <div class="col-md-3 col-12">
      <div class="row">
        <div class="col-md-8 col-4">
          <%= image_tag '/noimage.png', class:"card-img-size" %>
        </div>
        <div class="col-md-12 col-8">
          <h3><%=  @user.username %></h3>
          <div><%= @user.birthday %></div>
          <div><%= @user.living_place %></div>
        </div>
      </div>
    </div>

    <div class="col-md-9 col-12">
      <div class="row">
        <% if user_signed_in? %>
          <div class="col-12">
            <div class="row stats-bar">
              <% if current_user == @user %>
                <%= link_to "本業の追加登録", new_main_job_path, class:"btn btn-light mr-2" %>
                <%= link_to "アカウント編集", edit_user_registration_path, class:"btn btn-dark" %>
              <% else %>
                <%# <button type="button" class="btn btn-dark">フォローする</button> %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="col-12">
          <div class="row stats-bar">
            <%# <div class="col-md-3 col-6">
              <span class="stats-item">フォロワー数 20</span>
            </div>
            <div class="col-md-3 col-6">
              <span class="stats-item">フォロー数 20</span>
            </div> %>
            <div class="col-md-3 col-6">
              <span class="stats-item">
                <strong>ストックされた数 ?</strong>
              </span>
            </div>
            <div class="col-md-3 col-6">
              <span class="stats-item black-link">
                <% if @user == current_user %>
                  <strong><%= link_to "ストックした数 #{@user.stocks.count}", stocks_side_jobs_path %></strong>
                <% else %>
                  ストックした数 
                  <%= @user.stocks.count %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
        <div class="col-6 mt-3">
          <div class="job-list">
            <div class="main-name">
              <span class="tag main-tag position-top">本業</span>
              <% if @main_jobs.present? %>
                <ul class="job-list black-link">
                  <% @main_jobs.each do |main_job| %>
                    <li>
                      <%= main_job.name %>
                      <%= link_to "(編集)", edit_main_job_path(main_job) if @user == current_user %>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                <span>未登録　<span>
                <%= link_to "→本業を登録する", new_main_job_path if @user == current_user %>
              <% end %>
            </div>
            <div class="side-name">
              <span class="tag side-tag position-top ">副業</span>
              <% if @user.side_jobs.present? %>
                <ul class="job-list black-link">
                  <% @user.side_jobs.each do |job| %>
                    <li><%= link_to job.name, side_job_path(job) %> <%= link_to "(編集)", edit_side_job_path(job) if @user == current_user %></li>
                  <% end %>
                </ul>
              <% else %>
                <span>未登録　<span>
                <% if @user ==current_user && @user.main_jobs.present? %>
                  <%= link_to "→副業を登録する", new_side_job_path %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-6 mt-3">
          <div class="profile">
            <div>略歴</div>
            <%= @user.profile%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h2>副業一覧</h2>
  <br>

  <%= render "shared/job_card", jobs: @jobs %>
</div>