<div class="row">
  <div class="col-3">
    <%= image_tag '/noimage.png', class:"", :size =>'150x150' %>
    <h1><%= link_to @user.username, user_path(@user) %></h1>
    <div><%= @user.birthday %></div>
    <div><%= @user.living_place %></div>
  </div>
  <div class="col-4">
    <div class="job-list">
      <div class="main-name">
        <span class="tag main-tag">本業</span>
        <span><%= @user.main_job.name %></span>
      </div>
      <div class="side-name">
        <% @user.jobs.each do |job| %>
          <span class="tag side-tag">副業</span>
          <span><%= link_to job.name, job_path(job) %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="profile">
      <div>略歴</div>
      <%= @user.profile%>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2">
    <% if current_user == @user %>
      <button type="button" class="btn btn-dark"><%= link_to "個人設定の編集", edit_user_registration_path %></button>
      
    <% else %>
      <button type="button" class="btn btn-dark">フォローする</button>
    <% end %>
  </div>
  <div class="col-2">
    <span>20 フォロワー</span>
  </div>
  <div class="col-2">
    <span>20 フォロー</span>
  </div>
  <div class="col-2">
    <span>20 参考になった</span>
  </div>
</div>
<hr>
<h2>副業一覧</h2>
<br>

<%= render "jobs/job_card", jobs: @jobs %>
