<div class="container">
  <div class="page-title">
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 ">
      <div class="input-field">
        <h2 class="field-title">パスワードの再設定</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field row">
            <span class="text-md-right col-12 col-md-4"><%= f.label :"メールアドレス" %></span>
            <span class="col-12 col-md-8 col-lg-7"><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-form" %></span>
          </div>
          <div class="actions">
            <div class="btn-submit">
              <%= f.submit "パスワードを再設定する", class:"btn btn-dark" %>
            </div>
          </div>
        <% end %>
        <div class="devise-link-area">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>