<% jobs.each do |job| %>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-lg-7 col-4">
          <div class="name-holder-sm">
            <%= link_to job.user.username, user_path(job.user) %>
          </div>

          <div class="action_on_sidebiz">
            <%= render "shared/action_on_sidebiz", job: job %>
          </div>

        </div>
        <div class="col-lg-5 col-8 no-padding">
          <div class="row job-transition">
            <div class="main-name">
              <span class="tag main-tag">本業</span>
              <span><%=  job.main_job.name %></span>
            </div>
            <div class="arrow"><i class="fas fa-arrow-right"></i></div>
            <div class="side-name">
              <span class="tag side-tag">副業</span>
              <span><%= link_to job.name, side_job_path(job) %></span>
            </div>
            <div class="link-to-job">
              <%= link_to side_job_path(job) do %>
                <i class="fas fa-external-link-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters card-content">
      <div class="col-2">
        <%= image_tag '/noimage.png', class:"card-img-size" %>
      </div>
      <div class="container col-lg-5 col-10">
        <div class="simple-description">
          <%= job.description %>
        </div>
      </div>
      <div class="col-lg-5 col-12">
        <div class="skill-tags-vertical">
          <div class="skill-tags-explanation">
            <span>スキルの重要度</span>
          </div>
          <% job.skills.each do |skill| %>
            <div class="skill-tag-row">
              <div class="skill-tag skill-main-tags"><%= skill.importance_for_main_job %></div>
              <div class="skill-tag skill-name"><%= skill.name %></div>
              <div class="skill-tag skill-side-tags"><%= skill.importance_for_side_job %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if job.user == current_user %>
    <%= link_to "編集", edit_side_job_path(job) %>
  <% end %>
<% end %>

<div class="row justify-content-center pagination-box">
  <%= paginate jobs %>
</div>