<div class="container">
  <div class="page-title">
    <div class="job-show-title-box">
      <span class="job-show-title"><%= @side_job.name %></span>
      <span> のレビュー </span><%= link_to "@#{@user.username}", user_path(@user) %>
    </div>
  </div>
  <div class="job-show-board">
    <div class="">
      <%= render "job_summary_box", job:@side_job %>
      <%= render "job_synergy", job:@side_job %>
      <%= render "job_summary_box", job:@main_job %>
      <hr>
      <span>スキルチャート</span>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-5">
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row pb-4">
    <div class="col-sm-6 col-12">
      <div class="stock_comment_icon ml-2 black-link">
        <% if user_signed_in? %>
          <%= render "shared/stock_button", job: @side_job %>
        <% else %>
          <%= render "shared/stock_button_no_link", job: @side_job %>
        <% end %>
        <span class="ml-3">
          <i class="far fa-comment-alt"></i>コメント
          <%= @side_job.comments.count %>
        </span>
      </div>
    </div>
    <div class="col-sm-6 col-12">
      <% if user_signed_in? && current_user == @side_job.user %>
        <%= render "shared/job_edit_or_delete", job: @side_job %>
      <% end %>
    </div>
  </div>
</div>

<div class="container" id="comments">
  <div class="comment-area black-link mt-4">
    <div class="comment-form-area my-3">
      <% if user_signed_in? %>
        <%= form_with(model: [@side_job, @comment], remote: true, class:"row align-items-end") do |f| %>
          <div class="col-md-8 col-12">
              <%= f.text_area :content, class:"comment-form", required: true, row: 5 %>
          </div>
          <div class="col">
              <%= f.submit "送信する", class:"btn btn-dark mb-2"  %>
          </div>
        <% end %>
      <% end %>
    </div>
    <p class="">コメント一覧</p>
    <div id="comment-list">
      <%= render @comments %>
    </div>
  </div>
</div>



<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: <%= @labels.to_json.html_safe %>,
      datasets: [{
        label: '副業における重要度',
        backgroundColor: "rgba(255,126,51,0.5)",
        borderColor: "rgba(255,126,51,0.5)",
        data: <%= @importance_for_side_job %>
      }, {
        label: '本業における重要度',
        backgroundColor: "rgba(59,190,255,0.7)",
        borderColor: "rgba(59,190,255,0.5)",
        data: <%= @importance_for_main_job %>
      }
      ]},
    options: {
      scale: {
        angleLines: {
            display: true
        },
        ticks: {
            min: 0,
            max: 5,
            stepSize: 1
        }
      } 
    }
  });
</script>